squid config doesn't work

The current squid config causes launching maasctl not to work.

This one does work:

# REFRENCE: https://forum.archive.openwrt.org/viewtopic.php?id=53770

acl localnet src 10.0.0.0/8     # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 8080        # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl CONNECT method CONNECT

# HTTP Stuff
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access allow localnet
http_access allow localhost
http_access deny all
http_port 3128 intercept

## SSL Stuff
#acl no_bump dstdomain .pressganey.com
#ssl_bump        none            localhost
#ssl_bump        none            no_bump
#ssl_bump        server-first    all
#sslcrtd_program /usr/lib/squid3/ssl_crtd -s /mnt/sdcard/ssl_db -M 4MB
#https_port 3129 intercept ssl-bump cert=/etc/easy-rsa/keys/ca.crt key=/etc/easy-rsa/keys/ca.key generate-host-certificates=on
##The following port is required for overflow/outbound negotiation of server-first connections
#http_port 3127

#Logging
access_log      /tmp/squid/access.log
cache_log       /tmp/squid/cache.log
cache_store_log /tmp/squid/store.log
pid_filename    /tmp/squid/squid.pid
netdb_filename  /tmp/squid/netdb.state
coredump_dir    /tmp/squid/cache

#Caching
cache_mem 256 MB
maximum_object_size_in_memory 48 MB
cache_dir ufs /tmp/squid/cache 5000 16 256
maximum_object_size 200 MB
cache allow all
http_port 3128
coredump_dir /tmp/squid
visible_hostname OpenWrt
pinger_enable off
mime_table /tmp/squid/mime.conf